asgiref==3.2.7
attrs==19.3.0
beautifulsoup4==4.9.1
browsercookie==0.7.6
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
Django==3.1.12
document==1.0
docutils==0.15.2
docx==0.2.4
docxtpl==0.10.0
fake-useragent==0.1.11
idna==2.9
Jinja2==2.11.2
keyring==21.2.1
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
lxml==4.5.1
lz4==3.0.2
MarkupSafe==1.1.1
paragraph==1.2.1
Pillow==7.1.2
pycryptodome==3.9.7
Pygments==2.5.2
PyPDF2==1.26.0
pypiwin32==223
PySocks==1.7.1
python-docx==0.8.10
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
requests==2.23.0
six==1.15.0
socks==0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
views==0.3
virtualenv==16.7.8
